<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">and Experience</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analysis and Presentation</h4>
                    <p class="text-muted">Capable of finding, preparing, and presenting data/information in any form with nearly any tool</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Creative and Innovative Thinking</h4>
                    <p class="text-muted">When provided all the information and context - I can provide the ideas and a spectrum of solutions</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">I don't need a title just a team and a goal to be A leader - I'm not interested in being THE leader</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analysis and Presentation</h4>
                    <p class="text-muted">Capable of finding, preparing, and presenting data/information in any form with nearly any tool</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">When provided all the information and context - I can provide the ideas and a spectrum of solutions</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environment</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- fa-tasks, fa-tree, fa-anchor, fa-area-chart, fa-archive, fa-binoculars, fa-book, fa-bolt, fa-code
     fa-globe [&#xf0ac;] - GIS
     fa-image (alias) [&#xf03e;] - Image Maninpulation
     fa-linkedin [&#xf0e1;] -**Add to Social Profile
     fa-location-arrow [&#xf124;]
     fa-pencil-square-o [&#xf044;]
     fa-whatsapp [&#xf232;]
     fa-flask [&#xf0c3;]
     fa-desktop [&#xf108;]
    -->
